body{
    text-align: center;
    background-color: #f6f6f6;
}
#video{
    width: 100%;
    height: 500px;
}
.mobile{
    font-size: 36px;
}
input{
    background-color: aliceblue;
}
.my_nav_bar{
    position: sticky;
    top: 0;
    z-index:99999;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.travel_mainDiv{
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}
.travel_mainDiv img{
    height: 200px;
    width: 500px;
}
#achievementsID{
    padding-bottom: 10px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.movie_head i{
    float: right;
}
.movie_text span{
    color: #ff7700;
}
.list-group-item{
    margin: 20px;
}
.list-group-item img{
    height: 400px;
}
#footer{
    height: 20px;
    background-color: white;
}